<div class="w-75 mx-auto py-4">
  <div class="container mt-5 p-5">
    <div class="card shadow">
      <div class="mt-5 bg-white text-center" style="color: #d8876b;">
        <h4> Doctor Registration </h4>
        <div *ngIf="apiError.length > 0" class="text-danger mt-3">
          {{apiError}}
        </div>
      </div>

      <div class="card-body">

        <form (ngSubmit)="handleSignUp(signUpForm)" class="m-3 row" [formGroup]="signUpForm">
            <div class="col-md-1"></div>

            <!-- ----------------------- **** Section 1 ***** ----------------------- -->

            <div class="col-md-5">

              <!-- ----------------------- Name ----------------------- -->
              <div class="mb-3">
                <label for="name" class="mb-2">Name</label>
                <input type="text" formControlName="name"  id="name" class="form-control" />

                <div *ngIf="signUpForm.get('name')?.errors && signUpForm.get('name')?.touched" class="text-danger m-1 sm">
                  <p *ngIf="signUpForm.get('name')?.getError('minlength')" class="m-0">Name minimum lenth is 3</p>
                  <p *ngIf="signUpForm.get('name')?.getError('pattern')" class="m-0">Enter Characters Only</p>
                  <p *ngIf="signUpForm.get('name')?.getError('required')" class="m-0">Name is Required</p>
                </div>
              </div>

              <!-- ----------------------- Email ----------------------- -->

              <div class="mb-3">
                <label for="email" class="mb-2">Email</label>
                <input type="email" formControlName="email" id="email" class="form-control" />

                <div *ngIf="signUpForm.get('email')?.errors && signUpForm.get('email')?.touched" class="text-danger m-1">
                  <p *ngIf="signUpForm.get('email')?.getError('email')" class="m-0">Email is InValid should be (email@gmail.com)</p>
                  <p *ngIf="signUpForm.get('email')?.getError('required')" class="m-0">Email is Required</p>
                </div>
              </div>

              <!-- ----------------------- Password ----------------------- -->

              <div class="mb-3">
                <label for="password" class="mb-2">Password</label>
                <input type="password" formControlName="password" id="password" class="form-control" />

                <div *ngIf="signUpForm.get('password')?.errors && signUpForm.get('password')?.touched" class="text-danger m-1">
                  <p *ngIf="signUpForm.get('password')?.getError('minlength')" class="m-0">Password Can't be less than 6 digitis</p>
                  <p *ngIf="signUpForm.get('password')?.getError('required')" class="m-0">Password is Required</p>
                </div>
              </div>

              <!-- ----------------------- Confirm Password ----------------------- -->

              <div class="mb-3">
                <label for="rePassword" class="mb-2">Confirm Password</label>
                <input type="password" formControlName="rePassword" id="rePassword" class="form-control" />

                <div *ngIf="signUpForm.get('rePassword')?.errors && signUpForm.get('rePassword')?.touched" class="text-danger m-1">
                  <!-- <p *ngIf="signUpForm.get('rePassword')?.getError('minlength')" class="m-0">Password Can't be less than 6 digitis</p> -->
                  <p *ngIf="signUpForm.get('rePassword')?.getError('minlength')" class="m-0">Don't Match with Password</p>
                  <p *ngIf="signUpForm.get('rePassword')?.getError('passwordmatch')" class="m-0">Don't Match with Password</p>
                  <p *ngIf="signUpForm.get('rePassword')?.getError('required')" class="m-0">Password is Required</p>
                </div>
              </div>

              <!-- ----------------------- National ID ----------------------- -->

              <div class="mb-3">
                <label for="nationalId" class="mb-2">National ID</label>
                <input type="text" formControlName="nationalId" id="nationalId" class="form-control" />

                <div *ngIf="signUpForm.get('nationalId')?.errors && signUpForm.get('nationalId')?.touched" class="text-danger m-1">
                  <p *ngIf="signUpForm.get('nationalId')?.getError('pattern')" class="m-0">National ID must be 14 numbers And Don't Accept characters</p>
                  <p *ngIf="signUpForm.get('nationalId')?.getError('required')" class="m-0">National ID is Required</p>
                </div>
              </div>

              <!-- ----------------------- Speciality ----------------------- -->

              <div class="mb-3">
                <label for="speciality " class="mb-2">Speciality </label>
                <select formControlName="speciality" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                  <option selected disabled>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>

                <div *ngIf="signUpForm.get('speciality')?.errors && signUpForm.get('speciality')?.touched" class="text-danger m-1">
                  <p *ngIf="signUpForm.get('speciality')?.getError('required')" class="m-0">speciality is Required</p>
                </div>
              </div>

              <!-- ----------------------- Date Of Birth ----------------------- -->

              <div class="mb-3">
                <label for="dateOfBirth" class="mb-2">Date Of Birth</label>
                <input type="date" formControlName="dateOfBirth" id="dateOfBirth" class="form-control" />

                <div *ngIf="signUpForm.get('dateOfBirth')?.errors && signUpForm.get('dateOfBirth')?.touched" class="text-danger m-1">
                  <p *ngIf="signUpForm.get('dateOfBirth')?.getError('min')" class="m-0">Can't Enter date less than 1964</p>
                  <p *ngIf="signUpForm.get('dateOfBirth')?.getError('max')" class="m-0">Can't Enter date more than 1999</p>
                  <p *ngIf="signUpForm.get('dateOfBirth')?.getError('required')" class="m-0">date Of Birth is Required</p>
                </div>
              </div>

              <!-- ----------------------- Gender ----------------------- -->

              <div class="mb-3">
                <label for="gender " class="mb-2">Gender</label>
                <select formControlName="gender" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                  <option value="3">Three</option>
                </select>

                <div *ngIf="signUpForm.get('gender')?.errors && signUpForm.get('gender')?.touched" class="text-danger m-1">
                  <p *ngIf="signUpForm.get('gender')?.getError('required')" class="m-0">Gender is Required</p>
                </div>
              </div>

          <!-- ----------------------- Create Account Link ----------------------- -->

            <div class="mb-5">
              <span class="txt1">Login</span>
              <a class="txt2" routerLink="/doctor/signin"> Already have an Account
                  <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
              </a>
            </div>

          <!-- ----------------------- Sign Up Button ----------------------- -->

              <div class=" mt-5">
                <button type="submit" class="btn btn-doc w-50">

                  <!-- <i *ngIf="isLoading" class="bi bi-arrow-clockwise"></i> -->
                  <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>

                  <span *ngIf="!isLoading">Sign Up</span>

                </button>
              </div>

            </div>

            <!-- ----------------------- **** Section 2 ***** ----------------------- -->

            <div class="col-md-5">

              <!-- ----------------------- Image ----------------------- -->

              <div class=" m-3 mb-5">
                <div class="image-section">
                  <img src="assets/Login.jpeg" alt="Login Image" class="w-80 img-fluid float-end">
              </div>
              </div>

              <!-- ----------------------- Governorate ----------------------- -->

              <div class="mb-3 mt-5">
                <label for="gov" class="mb-2">Governorate  </label>
                <select formControlName="gov" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                  <option selected disabled>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>

                <div *ngIf="signUpForm.get('gov')?.errors && signUpForm.get('gov')?.touched" class="text-danger m-1">
                  <p *ngIf="signUpForm.get('gov')?.getError('required')" class="m-0">Governance is Required</p>
                </div>
              </div>

              <!-- ----------------------- Address ----------------------- -->

              <div class="mb-3">
                <label for="address" class="mb-2">Address</label>
                <input type="text" formControlName="address" id="address" class="form-control" />

                <div *ngIf="signUpForm.get('address')?.errors && signUpForm.get('address')?.touched" class="text-danger m-1">
                  <p *ngIf="signUpForm.get('address')?.getError('required')" class="m-0">Address is Required</p>
                </div>
              </div>

              <!-- ----------------------- Phone ----------------------- -->

              <div class="mb-3">
                <label for="phone" class="mb-2">Phone</label>
                <input type="tel" formControlName="phone" id="phone" class="form-control" />

                <div *ngIf="signUpForm.get('phone')?.errors && signUpForm.get('phone')?.touched" class="text-danger m-1">
                  <p *ngIf="signUpForm.get('phone')?.getError('pattern')" class="m-0">Phone must be 11 digits and must start with 010 or 011 or 012 or 015</p>
                  <p *ngIf="signUpForm.get('phone')?.getError('required')" class="m-0">Phone is Required</p>
                </div>
              </div>

              <!-- ----------------------- Appointment Price ----------------------- -->

              <div class="mb-3">
                <label for="price" class="mb-2">Appointment Price </label>
                <input type="number"  formControlName="price" id="price" class="form-control" />

                <div *ngIf="signUpForm.get('price')?.errors && signUpForm.get('price')?.touched" class="text-danger m-1">
                  <p *ngIf="signUpForm.get('price')?.getError('min')" class="m-0">Price Can't be less than 100</p>
                  <p *ngIf="signUpForm.get('price')?.getError('max')" class="m-0">Price Can't be more than 5000</p>
                  <p *ngIf="signUpForm.get('price')?.getError('required')" class="m-0">price is Required</p>
                </div>
              </div>

            </div>

            <div class="col-md-1"></div>

     </form>
      </div>
    </div>
  </div>
</div>

