<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center" style="font-weight: bold; color: #43acc2;"> Rate Your Doctor</h5>
            <form #ratingForm="ngForm" (ngSubmit)="submitRating(ratingForm)">
              <div class="form-group mb-3"> 
                <label for="rating">Rating:</label>
                <select class="form-control" id="rating" name="rating" [(ngModel)]="selectedRating" required>
                  <option value="" disabled selected>Select Rating</option>
                  <option value="5">5 - Excellent</option>
                  <option value="4">4 - Very Good</option>
                  <option value="3">3 - Good</option>
                  <option value="2">2 - Fair</option>
                  <option value="1">1 - Poor</option>
                </select>
              </div>
              <div class="form-group mb-3"> 
                <label for="notes" >Additional Notes:</label>
                <textarea class="form-control" id="notes" name="notes" rows="4" [(ngModel)]="additionalNotes"></textarea>
              </div>
              <button class="btn btn-info btn-rate mt-3" type="submit" style="width: 200px;">Submit Reating</button> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>