<header class="container  py-5">
  <div class="container">
    <div class="row align-items-center p-4">
      <section class="patient-profile  p-3">
        <div class="text-center py-4">
          <h3 class="fw-bolder headColor fs-1"> Profile </h3>
          <img src="assets/10292730-lady-patient-in-the-hospital.jpg " class="w-25" alt="account">
        </div>
        <div class="row ">
          <div class="col-md-6 ">
            <h4 class="headColor fw-bolder"> First Name </h4>
            <span class="bg-light">
              <p class="Pinfo "> Ali Kareem</p>
            </span>
          </div>
          <div class="col-md-4 offset-2">
            <h4 class="headColor fw-bolder"> Phone Number</h4>
            <span class="bg-light">
              <p class="Pinfo">01234567890 </p>
            </span>
          </div>
        </div>
        <div class="row  py-4">
          <div class="col-md-6 ">
            <h4 class="headColor fw-bolder">Email</h4>
            <span class="bg-light">
              <p class="Pinfo ">ali@gmail.com </p>
            </span>
          </div>
          <div class="col-md-4 offset-2">
            <h4 class="headColor fw-bolder"> Address </h4>
            <span class="bg-light">
              <p class="Pinfo"> Sohag</p>
            </span>
          </div>

          <!-- <div class="col-md-4 offset-2">
            <h4 class="headColor fw-bolder"> Date Of Birth </h4>
            <span class="bg-light">
              <p class="Pinfo"> 1992-02-5</p>
            </span>
          </div> -->
          <!-- <div class="col-md-4 offset-2">
            <h4 class="headColor fw-bolder"> Gender </h4>
            <span class="bg-light">
              <p class="Pinfo"> Male</p>
            </span>
          </div> -->
        </div>
      </section>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <h4 class="headColor fw-bolder text-center"> Appointments' Info</h4>
    <section class="appointInfo">
      <div class="row  py-4">
        <div class="col-md-6 ">
          <h4 class="headColor fw-bolder">Time & Date</h4>
          <span class="bg-light">
            <p class="Pinfo ">2024-03-26 At 09:00AM </p>
          </span>
        </div>
        <div class="col-md-4 offset-2">
          <h4 class="headColor fw-bolder"> Doctor’s Name </h4>
          <span class="bg-light">
            <p class="Pinfo"> Doctor Salah </p>
          </span>
        </div>
      </div>
      <div class="text-center">
        <!-- <img class="w-25 " alt="brianscans" srcset=""> -->
      </div>
      <h4 class="headColor fw-bolder"> Notes </h4>
      <div>
        <button class="toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-solid fa-plus"></i>
        </button>
        <div class="collapse" id="collapseExample">
          <div class="noteInfo"> </div>
        </div>
      </div>

    </section>
  </div>
</div>

<!--
<button class="toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
aria-expanded="false" aria-controls="collapseExample">
<i class="fa fa-plus"></i>
</button>

<div class="collapse" id="collapseExample">
<div class="form-outline">
  <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
</div>
<button class="btn btn-success my-3" type="submit">Save notes</button>
</div> -->





<div class="col-lg-6 mx-auto">

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-left">
    <button type="button" class="btn btn-primary btn-lg px-3 gap-2 custom-btn"
      [routerLink]="['/patient/patientprofial/payment']"> Pay Now </button>
  </div>
</div>
<div class="col-lg-6 mx-auto">

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-left" style="padding-top: 10px;">
    <button type="button" class="btn btn-primary btn-lg px-3 gap-2 custom-btn"
      [routerLink]="['/patient/patientprofial/rateDoctor']"> Rate Doctor</button>
  </div>
</div>