<div class="w-100 mx-auto py-4">
  <div class="container mt-5 p-5">

    <div class="card">
  <p-table
      [value]="Doctors"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 20]">
      <ng-template pTemplate="header">
        <tr style="font-weight: bold; margin-bottom: 30px; text-align: center; border-bottom: 1px solid #ccc;">
          <td style="padding: 20px;">#</td>
            <td style="padding: 20px;">Name</td>
            <td style="padding: 20px;">Email</td>
            <td style="padding: 20px;">Specialty</td>
            <td style="padding: 20px;">Gender</td>
            <td style="padding: 20px;">National ID</td>
            <td style="padding: 20px;">Governorate</td>
            <td style="padding: 20px;">Address</td>
            <td style="padding: 20px">Status</td>
            <td style="padding: 20px;">Edit</td>
            <td style="padding: 20px;">Delete</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-doc>
          <tr>
            <td style="padding-left: 1rem;">
              {{doc.doctor?.id}}
            </td>
            <td style="padding-left: 2rem;">
              {{doc.doctor?.name}}
            </td>
            <td style="padding-left: 2rem;">
              {{doc.doctor?.email}}
            </td>
            <td style="padding-left: 2rem;">
              {{doc.speciality?.name}}
            </td>
            <td style="padding-left: 2rem;">
              {{doc.doctor?.gender | gender}}
            </td>
            <td style="padding-left: 2rem;">
              {{doc.doctor?.nationalID}}
            </td>
            <td style="padding-left: 2rem; text-align: center;">
              {{doc.doctor?.governance}}
            </td>
            <td style="padding-left: 2rem;">
              {{doc.doctor?.address}}
            </td>
            <td [ngClass]="{'text-success' : doc.doctor.status == 0, 'text-warning':doc.doctor.status == 1 , 'text-danger': doc.doctor.status == 2 || doc.doctor.status == 3}">
                {{doc.doctor.status | accountStatus}}
            </td>
            <td style="padding-left: 1rem;">
              <button class="btn btn-info" #docId [value]="doc.doctor.id" (click)="navDoc(doc.doctor.id)">Edit</button>
            </td>
            <td style="padding-left: 1rem;">
              <button class="btn btn-danger" [value]="doc.doctor.id" (click)="deleteDoc(doc.doctor.id)">Remove</button>
            </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
  </p-table>

</div>

<button class="btn btn-success mt-3" routerLink="/doctor/add">Add Doctor</button>


</div>
</div>
