<div class="w-75 mx-auto py-4">
  <div class="container mt-5 p-5">

    <div class="card">
  <p-table
      [value]="Doctors"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 20]">
      <ng-template pTemplate="header">
          <tr style="font-weight: bold; padding: 30px; text-align: center;">
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>National ID</td>
            <td>Specialty</td>
            <td>Gender</td>
            <td>Governorate</td>
            <td>Address</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-doc>
          <tr>
            <td>
              {{doc.doctor?.id}}
            </td>
            <td>
              {{doc.doctor?.name}}
            </td>
            <td>
              {{doc.doctor?.email}}
            </td>
            <td>
              {{doc.doctor?.nationalID}}
            </td>
            <td>
              {{doc.speciality.name}}
            </td>
            <td>
              {{doc.doctor?.gender | gender}}
            </td>
            <td>
              {{doc.doctor?.governance}}
            </td>
            <td>
              {{doc.doctor?.address}}
            </td>

            <td>
              <button class="btn btn-info" #docId [value]="doc.doctor.id" (click)="navDoc(doc.doctor.id)">Edit</button>
            </td>
            <td>
              <button class="btn btn-danger" [value]="doc.doctor.id" (click)="deleteDoc(doc.doctor.id)">Remove</button>
            </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
  </p-table>

</div>

<button class="btn btn-success mt-3" routerLink="/doctor/add">Add Doctor</button>


</div>
</div>
