<div class="container">
  <div class="row my-4 ">

    <div class="col-md-12  text-center">
      <h1 class="doctorJob fw-bolder text-center"> Profile </h1>
      <img class="w-25 rounded-5" [src]="imgSrc">
    </div>
  </div>
  <div class="row  ">
    <div class="col-md-6 ">
      <h4 class="headColor fw-bolder"> Name </h4>
      <span class="bg-light">
        <p class="Pinfo"> Ahmed Gamal </p>
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="headColor fw-bolder"> Specialties </h4>
      <span class="bg-light">
        <p class="Pinfo"> Onocology </p>
      </span>
    </div>
    <div class="col-md-6 ">
      <h4 class="headColor fw-bolder"> E-mail </h4>
      <span class="bg-light">
        <p class="Pinfo ">ahmed@gmail.com </p>
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="headColor fw-bolder"> Address </h4>
      <span class="bg-light">
        <p class="Pinfo">Beni Suif</p>
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="headColor fw-bolder"> Phone Number </h4>
      <span class="bg-light">
        <p class="Pinfo"> 01234567890</p>
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="headColor fw-bolder"> Clinic Address </h4>
      <span class="bg-light">
        <p class="Pinfo"> Beni-suif Beba</p>
      </span>
    </div>
    <div class="col-md-6">
      <button class="btn btn-success rate-test" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Rate Your
        Doctor</button>
    </div>
    <div class="collapse" id="collapseExample">
      <form>
        <div class="row">
          <h1 class="display-5 headColor"> Rating </h1>
          <div class=" col-md-6 ">
            <h2 class="headColor fw-bolder"> Your Rate of five :</h2>

            <div class="custom-select">
              <div class="text-style">
                Choose Your rate
              </div>
              <select class="select-styled">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>



          </div>
          <div class="col-md-6">
            <h2 class="headColor fw-bolder fs-3"> Add Your Notes :</h2>
            <textarea formControlName="text" name="" id="" cols="45" rows="5"></textarea>
          </div>

        </div>

        <div class="d-felx justify-content-end py-3">
          <button type="submit" class="btn btn-success"> Save your Rate </button>
        </div>
      </form>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h3 class="av-appoint py-5"><i class="fa fa-calendar  "></i> Available appointments</h3>

    </div>



    <div class="row">
      <div class="col-md-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>2024-3-26</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock "> 09:00 Am</i> </h4>
          <p class=" text-danger"> 500 pound </p>

          <p class="text-success"> Availbale</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button routerLink="/patient/patientprofial/payment" class="book-btn  m-3 p-3" type="button"> Book </button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>2024-3-26</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock "> 09:00 Am</i> </h4>
          <p class=" text-danger"> 500 pound </p>
          <p class="text-success"> Availbale</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button routerLink="/patient/patientprofial/payment" class="book-btn  m-3 p-3" type="button"> Book </button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>2024-3-26</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock "> 09:00 Am</i> </h4>
          <p class=" text-danger"> 500 pound </p>
          <p class="text-success"> Availbale</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button routerLink="/patient/patientprofial/payment" class="book-btn  m-3 p-3" type="button"> Book </button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>2024-3-26</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock "> 09:00 Am</i> </h4>
          <p class=" text-danger"> 500 pound </p>

          <p class="text-danger"> Already Booked</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button routerLink="/patient/patientprofial/payment" disabled class="book-btn  m-3 p-3" type="button"> Book
          </button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>2024-3-26</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock "> 09:00 Am</i> </h4>
          <p class=" text-danger"> 500 pound </p>

          <p class="text-success"> Availbale</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button routerLink="/patient/patientprofial/payment" class="book-btn  m-3 p-3" type="button"> Book </button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>2024-3-26</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock "> 09:00 Am</i> </h4>
          <p class=" text-danger"> 500 pound </p>

          <p class="text-success"> Availbale</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button routerLink="/patient/patientprofial/payment" class="book-btn  m-3 p-3" type="button"> Book </button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>2024-3-26</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock "> 09:00 Am</i> </h4>
          <p class=" text-danger"> 500 pound </p>

          <p class="text-success"> Availbale</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button routerLink="/profial/payment" class="book-btn  m-3 p-3" type="button"> Book </button>
        </div>
      </div>

    </div>


    <!-- end doctorAppointments -->