<div class="container">
  <div class="row my-4 ">

    <div class="col-md-10  text-center">
      <h1 class="doctorJob fw-bolder text-center"> Doctor's Profile </h1>
    </div>
  </div>
  <div class="row  ">
    <div class="col-md-6 ">
      <h4 class="headColor fw-bolder"> Name </h4>
      <span class="bg-light">
        <p class="Pinfo text-center"> {{docProfileData.doctor.name}} </p>
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="headColor fw-bolder"> Specialties </h4>
      <span class="bg-light">
        <p class="Pinfo text-center"> {{docProfileData.speciality.name}} </p>
      </span>
    </div>
    <div class="col-md-6 ">
      <h4 class="headColor fw-bolder"> E-mail </h4>
      <span class="bg-light">
        <p class="Pinfo text-center">{{docProfileData.doctor.email}}</p>
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="headColor fw-bolder"> Governance </h4>
      <span class="bg-light">
        <p class="Pinfo text-center">{{docProfileData.doctor.governance}}</p>
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="headColor fw-bolder"> Phone Number </h4>
      <span class="bg-light">
        <p class="Pinfo text-center">{{docProfileData.doctor.phone}}</p>
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="headColor fw-bolder"> Address </h4>
      <span class="bg-light">
        <p class="Pinfo text-center">{{docProfileData.doctor.address}}</p>
      </span>
    </div>
    <div *ngIf="role == 'doctor'" class=" col-md-1">
        <a name="editProfile" id="editProBtn"(click)="navDoc(docProfileData.doctor.id)" class="btn" role="button"> Edit your profile</a>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h3 class="av-appoint py-5"><i class="fa fa-calendar  "></i> Available appointments</h3>

    </div>



    <div class="row">
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>Saturday</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock ">{{dates[6]?.toDateString()}}</i> </h4>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock " [ngClass]="{'text-danger': docProfileData.schedule.saturday == '0'}">{{docProfileData.schedule.saturday == "0" ? "Not Avaliable" : docProfileData.schedule.saturday}}</i> </h4>
          <p class=" text-primary h2">{{docProfileData.doctor.appointmentPrice}} EGP</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button *ngIf="role == 'patient'" class="book-btn  m-3 p-3" type="button" (click)="bookApp(6)"  [disabled]="docProfileData.schedule.saturday == '0'"> Book </button>
          <button *ngIf="role == 'doctor'" routerLink="/patient/patientprofial/payment" class="book-btn  m-3 p-3" type="button"> Edit </button>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>Sunday</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock ">{{dates[0]?.toDateString()}}</i> </h4>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock " [ngClass]="{'text-danger': docProfileData.schedule.sunday == '0'}">{{docProfileData.schedule.sunday == "0" ? "Not Avaliable" : docProfileData.schedule.sunday}}</i> </h4>
          <p class=" text-primary h2">{{docProfileData.doctor.appointmentPrice}} EGP</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button *ngIf="role == 'patient'" class="book-btn  m-3 p-3" type="button" (click)="bookApp(0)" [disabled]="docProfileData.schedule.sunday == '0'"> Book </button>
          <button *ngIf="role == 'doctor'" routerLink="/patient/patientprofial/payment" class="book-btn  m-3 p-3" type="button"> Edit </button>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>Monday</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock ">{{dates[1]?.toDateString()}}</i> </h4>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock " [ngClass]="{'text-danger': docProfileData.schedule.monday== '0'}">{{docProfileData.schedule.monday == "0" ? "Not Avaliable" : docProfileData.schedule.monday}}</i> </h4>
          <p class=" text-primary h2">{{docProfileData.doctor.appointmentPrice}} EGP</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button *ngIf="role == 'patient'" class="book-btn  m-3 p-3" type="button" (click)="bookApp(1)" [disabled]="docProfileData.schedule.monday == '0'"> Book </button>
          <button *ngIf="role == 'doctor'" routerLink="/patient/patientprofial/payment" class="book-btn  m-3 p-3" type="button"> Edit </button>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>Tuesday</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock ">{{dates[2]?.toDateString()}}</i> </h4>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock " [ngClass]="{'text-danger': docProfileData.schedule.tuesday == '0'}">{{docProfileData.schedule.tuesday == "0" ? "Not Avaliable" : docProfileData.schedule.tuesday}}</i> </h4>
          <p class=" text-primary h2">{{docProfileData.doctor.appointmentPrice}} EGP</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button *ngIf="role == 'patient'" class="book-btn  m-3 p-3" type="button" (click)="bookApp(2)" [disabled]="docProfileData.schedule.tuesday == '0'"> Book </button>
          <button *ngIf="role == 'doctor'" routerLink="/patient/patientprofial/payment" class="book-btn  m-3 p-3" type="button"> Edit </button>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>Wednesday</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock ">{{dates[3]?.toDateString()}}</i> </h4>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock" [ngClass]="{'text-danger': docProfileData.schedule.wednesday == '0'}">{{docProfileData.schedule.wednesday == "0" ? "Not Avaliable" : docProfileData.schedule.wednesday}}</i> </h4>
          <p class=" text-primary h2">{{docProfileData.doctor.appointmentPrice}} EGP</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button *ngIf="role == 'patient'" class="book-btn  m-3 p-3" type="button" (click)="bookApp(3)" [disabled]="docProfileData.schedule.wednesday == '0'"> Book </button>
          <button *ngIf="role == 'doctor'" routerLink="/patient/patientprofial/payment" class="book-btn  m-3 p-3" type="button"> Edit </button>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>Thursday</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock ">{{dates[4]?.toDateString()}}</i> </h4>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock " [ngClass]="{'text-danger': docProfileData.schedule.thursday == '0'}">{{docProfileData.schedule.thursday == "0" ? "Not Avaliable" : docProfileData.schedule.thursday}}</i> </h4>
          <p class=" text-primary h2">{{docProfileData.doctor.appointmentPrice}} EGP</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button *ngIf="role == 'patient'" class="book-btn  m-3 p-3" type="button" (click)="bookApp(4)" [disabled]="docProfileData.schedule.thursday == '0'"> Book </button>
          <button *ngIf="role == 'doctor'" routerLink="/patient/patientprofial/payment" class="book-btn  m-3 p-3" type="button"> Edit </button>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="book-card text-center py-2 m-3">
          <h3 class="card-head h5"> <i class="fa-solid fa-calendar-days me-2  "></i>Friday</h3>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock ">{{dates[5]?.toDateString()}}</i> </h4>
          <h4 class="p-3 h5"><i class="fa-solid fa-clock " [ngClass]="{'text-danger': docProfileData.schedule.friday== '0'}">{{docProfileData.schedule.friday == "0" ? "Not Avaliable" : docProfileData.schedule.friday}}</i> </h4>
                    <p class=" text-primary h2">{{docProfileData.doctor.appointmentPrice}} EGP</p>
          <!-- <p class="text-center fs-4 text-danger">Already Booked</p> -->
          <button *ngIf="role == 'patient'"  class="book-btn  m-3 p-3" type="button" (click)="bookApp(5)" [disabled]="docProfileData.schedule.friday == '0'"> Book </button>
          <button *ngIf="role == 'doctor'" routerLink="/patient/patientprofial/payment" class="book-btn  m-3 p-3" type="button"> Edit </button>
        </div>
      </div>

    </div>


    <!-- end doctorAppointments -->
