<!-- <div class="m-auto">

  <div class="container">
    <div class="row my-5 py-4">

      <div class="col-md-10  text-center">
        <h1 class="doctorJob fw-bolder text-center"> Profile </h1>
        <img src="assets/360_F_260040900_oO6YW1sHTnKxby4GcjCvtypUCWjnQRg5.jpg" class="w-25 rounded-5" alt="docProfile">
      </div>
      <div class="offset-1 col-md-1">
        <a name="editProfile" id="editProBtn" routerLink="/doctor/edit" class="btn" role="button"> Edit
          profile</a>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6 ">
        <h4 class="headColor fw-bolder"> First Name </h4>
        <span class="bg-light">
          <p class="Pinfo "> Ahmed Gamal</p>
        </span>
      </div>
      <div class="col-md-6">
        <h4 class="headColor fw-bolder"> Specialties </h4>
        <span class="bg-light">
          <p class="Pinfo"> Onocology</p>
        </span>
      </div>
      <div class="col-md-6 ">
        <h4 class="headColor fw-bolder"> E-mail </h4>
        <span class="bg-light">
          <p class="Pinfo ">ahmed@gmail.com</p>
        </span>
      </div>
      <div class="col-md-6">
        <h4 class="headColor fw-bolder"> Governorate </h4>
        <span class="bg-light">
          <p class="Pinfo"> Cairo</p>
        </span>
      </div>

      <div class="col-md-6">
        <h4 class="headColor fw-bolder"> Address </h4>
        <span class="bg-light">
          <p class="Pinfo"> Beni-Suif</p>
        </span>
      </div>
      <div class="col-md-6">
        <h4 class="headColor fw-bolder"> Date Of Birth </h4>
        <span class="bg-light">
          <p class="Pinfo"> 2000-02-15</p>
        </span>
      </div>
      <div class="col-md-6">
        <h4 class="headColor fw-bolder"> Phone Number </h4>
        <span class="bg-light">
          <p class="Pinfo">01234567890</p>
        </span>
      </div>
      <div class="col-md-6">
        <h4 class="headColor fw-bolder"> clinicAddress </h4>
        <span class="bg-light">
          <p class="Pinfo">Beni-Suif Beba</p>
        </span>
      </div>
      <div class="col-md-6">
        <h4 class="headColor fw-bolder"> Gender </h4>
        <span class="bg-light">
          <p class="Pinfo">Male</p>
        </span>
      </div>
      <div class="col-md-6">
        <h4 class="headColor fw-bolder"> Appointment Price </h4>
        <span class="bg-light">
          <p class="Pinfo">500</p>
        </span>
      </div>
    </div>

  </div> -->



  <!-- <div class="container">
    <hr>
    <div class="row py-5 my-3">
      <div class="row py-2 my-3">
        <div class="text-center">
          <h1 class="doctorJob fw-bolder">Your Request Appointments</h1>
        </div>
      </div>
      <div class="col-md-3 py-4">
        <div class="card text-center fs-4 w-75 "> -->
          <!-- <img src="assets/home/appoint.png" class="card-img-top w-100" alt="doc1"> -->
          <!-- <div class="card-body">
            <h4 class="card-title fw-bolder fs-6">Abulrahman Reda</h4>
            <h5>2024-03-27</h5>
            <h6 class="fw-bolde"><i class="fa-solid fa-clock"></i> 10:00Am</h6>
            <h6 class="fw-bolde"><i class="fa-solid fa-location-dot"></i> Cairo</h6>
            <button class="btn btn-success me-2  fw-bold">Accept</button>
            <button class="btn btn-danger  fw-bold">Reject</button> -->
            <!-- {{pID.value}} -->
          <!-- </div>
        </div>
      </div>
    </div>
  </div> -->






  <!-- start secondHome -->
  <!-- <div class="container">
    <hr>
    <div class="row py-5 my-3">
      <div class="row py-2 my-3">
        <div class="text-center">
          <h1 class="doctorJob fw-bolder">Your upcoming appointments</h1>
        </div>


      </div>
      <div class="col-md-3 py-4">
        <div class="card text-center fs-4 w-75 "> -->
          <!-- <img src="assets/home/appoint.png" class="card-img-top w-100" alt="doc1"> -->


          <!-- <div class="card-body">
            <h4 class="card-title fw-bolder fs-6">Abulrahman Reda</h4>
            <h5>2024-03-27</h5>
            <h6 class="fw-bolde"><i class="fa-solid fa-clock"></i> 10:00Am</h6>
            <h6 class="fw-bolde"><i class="fa-solid fa-location-dot"></i> Cairo</h6>
            <button class="btn btn-primary  fw-bold">See more</button>

          </div>
        </div>


      </div>
    </div>
  </div>
</div> -->





<!-- start doctorCard -->
<div class="m-auto">
  <mat-progress-spinner class="m-auto" mode="indeterminate" *ngIf="IsWait">
  </mat-progress-spinner>
</div>
<div *ngIf="!IsWait" class="container">
  <div  class="row my-5 py-4">

      <div  class="col-md-10  text-center">
          <h1 class="doctorJob fw-bolder text-center"> Doctor's Profile </h1>
          <!-- <img class="w-25 rounded-5" [src]="docProfileData?.Image?.path" alt="docProfile"> -->
      </div>
      <div class="offset-1 col-md-1">
          <!-- <a name="editProfile" id="editProBtn" routerLink="/profile/Doctor/edit" class="btn" role="button"> Edit profile</a> -->
      </div>
  </div>
  <div class="row ">
      <div class="col-md-6 ">
          <h4 class="headColor fw-bolder"> Name </h4>
          <span class="bg-light">
              <p class="Pinfo ">{{docProfileData?.name}}test</p>
          </span>
      </div>
      <div class="col-md-6">
          <h4 class="headColor fw-bolder"> E-mail </h4>
          <span class="bg-light">
              <p class="Pinfo"> {{docProfileData?.email}} test@gmail.com</p>
          </span>
      </div>
      <div class="col-md-6">
          <h4 class="headColor fw-bolder"> Address </h4>
          <span class="bg-light">
              <p class="Pinfo">{{docProfileData?.address}} cairo</p>
          </span>
      </div>
      <div class="col-md-6">
          <h4 class="headColor fw-bolder"> Phone Number </h4>
          <span class="bg-light">
              <p class="Pinfo">{{docProfileData?.phone}} 01236547896</p>
          </span>
      </div>
      <div class="col-md-6 ">
        <h4 class="headColor fw-bolder"> Appointment Price</h4>
        <span class="bg-light">
            <p class="Pinfo "> {{docProfileData?.AppointmentPrice}} 150</p>
        </span>
    </div>
      <!-- <div class="col-md-6">
          <h4 class="headColor fw-bolder"> clinicAddress  </h4>
          <span class="bg-light">
              <p class="Pinfo">{{docProfileData?.address}}</p>
          </span>
      </div> -->
  </div>
    <!-- <div class="col-md-8  py-3">
        <h1 class="fw-bolder">Dr.{{docProfileData?.firstName +' '+ docProfileData?.lastName}} </h1>
        <h5><i class="fa fa-map-marker py-2 "></i> {{docProfileData?.address}}</h5>
        <p class="doctorJob"> {{docProfileData?.email}}</p>
        <p class="doctorJob"> {{docProfileData?.phone}}</p>


    </div> -->
  </div>
  <!-- end doctorCard -->




<!-- start secondHome -->
<div class="container">
  <hr>
  <div class="row py-5 my-3">
      <div class="row py-2 my-3">
          <div class="text-center">
              <h1 class="doctorJob fw-bolder">Your upcoming appointments</h1>
          </div>
      </div>
      <div *ngFor="let cApp of comingAppoint" class="col-md-3 py-4">
          <div class="card text-center fs-4 w-75 ">
              <img src="assets/home/appoint.png" class="card-img-top w-100" alt="doc1">
              <div class="card-body">
                  <h4 class="card-title fw-bolder">{{cApp?.userId?.firstName+' '+cApp?.userId?.lastName}}</h4>
                  <h5>{{cApp.Date}}</h5>
                  <h6 class="fw-bolde"><i class="fa fa-clock-o py-2"></i> {{cApp?.Time}}</h6>
                  <h6 class="fw-bolde"><i class="fa fa-map-marker py-2"></i> {{cApp?.userId?.address}}</h6>
                   <!-- <button (click)=" openPatientProfile(pID.value)" #pID [value]="cApp?.userId?._id"
                      class="btn btn-primary  fw-bold">See more</button> -->
                  <!-- {{pID.value}} -->
              </div>
          </div>
      </div>
